$primary: #313E4C;
$primaryDark: #1C2C3E;
$primaryLight: #363B4E;
$cyan:#2FB7B9;
$red:#E0285D;
$yellow:#F1E11E;
$pink:#EF249C;
$orange:#F39122;
$purple:#A647E8;
$blue:#4670F0;
$green:#36F372;
$white:#ffffff;
$glass: rgba(49,62,76,0.4);
$glassDark:rgba(28,44,62,0.4);
$glassLight:rgba(0, 179, 255, 0.4);